.movie-container {
  display: flex;
  gap: 15px;
  padding: 20px;
}

.movieCard{
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: 0.3s ease;
}
.movieCard:hover{
    transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
.movieImage{
    border-radius: 10px;
    height: 200px;
    width: 150px;
}
.movieTitle{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
}
.movieRating{
    font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 12px;
}
