.movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(132px, 1fr));
  gap: 10px;
}
.movieCard{
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: 0.3s ease;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.movieCard:hover{
    transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
.movieImage{
    border-radius: 10px;
    height: 150px;
    width: 110px;
}
.movieTitle{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 10px;
    text-decoration: none;
    color: black;
    margin-top: 10px;
    margin-left: 10px;
}
.movieTitle:hover{
  color: #f5c518;
  cursor: pointer;
}
.movieTitle:active{
  color: #ff9800;
  transform: scale(0.97);
}
.movieRating{
    font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 10px;
  margin-left: 10px;

}
.movieDetails{
display: flex;
flex-direction: column;
width: 120px;
align-items: self-start;
}